*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 7000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    position:fixed ;
    width: 100%;
    height: 50px;
    background-color: rgb(206, 49, 81);
    padding-right:  25px;
    margin-right: 25px;
    z-index: 10; 
    opacity: .8;
}
.homeicon{
    color: #fff;
    font-size: 22px;
    padding-top:   15px;
    padding-left: 25px;
}
[type="text"]{
    position: relative;
    width:240px ;
    height: 30px;
    background-color: rgb(250, 250, 252);
    border-radius: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
    border: 0;
}
.searchicon{
    position: absolute;
   top: 17px;
   font-size: 15px;
   margin-left: 40px;
}
.headerlinks{
    list-style: none;
    float: right;
}
.headerlinks li{
    margin-right: 25px;
   margin-top: 13px; 
    display: inline-block;
}
.headerlinks li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 7px;
    font-size: 17px;
}
.headerlinks li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#fff;
    opacity: 0;
}
.headerlinks li a:hover:after {
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}
.list-dropdown {
    position: relative;
    display: inline-block;
}
.dropdown {
    position: absolute;
    width: 150px;
    padding: 5px;
    background-color: rgb(157, 48, 70);
    text-align: center;
    left: 0;
    top: 150%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 50;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 10px;
    margin-bottom: 5px;
}
.dropdown li a {
    color: #fff;
    display: block;
    padding: 10px 0px;
    text-align: center;
    margin: 0;
}
.list-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
}
.dropdown li {
    display: block;
}/*-----------------------------/header-----------------------------------*/
.home {
    width: 100%;
    height: 100vh;
    background-image: url(../images/category-banner-3.jpg);
    background-size: cover;
    position: relative;
}
.home-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.home-content {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.home-title {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
}
.home-p {
    color: rgb(200, 200, 200);
    margin: 20px 0px;
    letter-spacing: 2px;
}
.home-btn {
    width: 150px;
    padding: 15px 0px;
    border: 0;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
}
.home-btn2 {
    background-color:rgb(202, 31, 65);
    color: #fff;
    margin-left: 11px;
}
.home-btn:hover {
    opacity: 0.6;
}/* -----------------------------------/sec1-------------------------------------- */
.welcome{
    width: 100%;
    height: 100vh;
    text-transform: capitalize;
    overflow: auto;
}
.h2welcome {
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
}
.line-welcome {
    width: 95px;
    height: 5px;
    background-color: rgb(202, 31, 65);
    margin: auto;
}
.welcome-container {
    width: 85%;
    margin: auto;
}
.welcome-parent {
    width: 330px;
    height: 230px;
    margin-top: 80px;
    margin-left: 90px;
    text-align:center;
    border: 1px solid rgb(202, 31, 65);
    border-radius: 10px;
    position: relative;
    float: left;
}
.iconsec2 {
    font-size: 35px;
    padding-top: 22px;
    color: rgb(202, 31, 65);
}
.sec2link {
    text-decoration: none;
    display: block;
    color: rgb(202, 31, 65);
    font-size: 19px;
}
.sec2h2 , .sec2p , .sec2link {
    padding-top: 23px;
}
.sec2p {
    color: rgb(118, 118, 118);
}
.welcome-parent:hover .iconsec2 {
    color: rgb(255, 0, 51);
}
.welcome-parent:hover .sec2link {
    color: rgb(255, 0, 51);
}
.welcome-parent:hover .sec2p {
    color: black;
}
.welcome-parent:hover .sec2h2 {
    color: #fff;
}
.welcome-parent::after {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(219, 176, 186);
    opacity: 0;
    position: absolute;
    content: "";
    z-index: -1;
}
.welcome-parent:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 10px;
}/*---------------------------------------------/sec2----------------------------------------------- */
.featured {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 237, 237);
    overflow: auto;
}
.h2featured {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    text-transform: capitalize;
}
.sec3div1 {
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    position: relative;
}
.layer1 {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    text-align: center;
    visibility: hidden;
    line-height: normal;
}
.sec3div1:hover .layer1 {
    visibility: visible;
    opacity: 1;
}
.iconsec3 {
    width: 50px;
    height: 35;
    color: rgb(202, 31, 65);
    background-color: #fff;
    text-align: center;
    font-size: 26px;
    padding-top: 6px;
    border-radius: 6px;
}
.icon a {
    display: inline-block;
    position: relative;
    top: 50px;
}
.h3category {
    color: rgb(215, 215, 215);
    font-size: 30px;
    padding-top: 35px;
    text-transform: uppercase;
}
.sec3-span {
    text-transform: capitalize ;
    position: relative;
    top: 30px;
    font-size: 18px;
}/* -------------------------- */
.sec3div2 {
    float: left;
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
}
.layer2 {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    text-align: center;
    visibility: hidden;
    line-height: normal;
}
.sec3div2:hover .layer2 {
    visibility: visible;
    opacity: 1;
}/* ------------------------------------- */
.sec3div3 {
    float: left;
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
}
.layer3 {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    text-align: center;
    visibility: hidden;
    line-height: normal;
}
.sec3div3:hover .layer3 {
    visibility: visible;
    opacity: 1;
}/* ------------------------------ */
.sec3div4 {
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    position: relative;
}
.layer4 {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    text-align: center;
    visibility: hidden;
    line-height: normal;
}
.sec3div4:hover .layer4 {
    visibility: visible;
    opacity: 1;
}/* ---------------------------- */
.sec3div5 {
    float: left;
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
}
.layer5 {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    text-align: center;
    visibility: hidden;
    line-height: normal;
}
.sec3div5:hover .layer5 {
    visibility: visible;
    opacity: 1;
}/* ------------------------------ */
.sec3div6 {
    float: left;
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
}
.layer6 {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    text-align: center;
    visibility: hidden;
    line-height: normal;
}
.sec3div6:hover .layer6 {
    visibility: visible;
    opacity: 1;
}/* ------------------------------------------------/sec3-------------------------------------- */
.offer {
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.h2offer {
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    text-transform: capitalize;
}
.line-offer {
    width: 95px;
    height: 5px;
    background-color: rgb(202, 31, 65);
    margin: auto;
}
.container-offer {
    width: 85%;
    margin: auto;
}
.parent-offer {
    width: 330px;
    height: 230px;
    margin-top: 80px;
    margin-left: 50px;
    border: 1px solid rgb(202, 31, 65);
    border-radius: 10px;
    position: relative;
    float: left;
}
.iconsec4 {
    position: absolute;
    left: 6px;
    top: 22px;
    font-size: 32px;
    color: rgb(202, 31, 65);
}
.h2sec4 , .sec4p {
    padding-top: 23px;
   margin-left: 48px;
}
.sec4p {
    color: rgb(118, 118, 118);
}
.parent-offer:hover .iconsec4 {
    color: rgb(255, 0, 51);
}
.parent-offer:hover .sec4p {
    color: black;
}
.parent-offer:hover .h2sec4 {
    color: rgb(255, 0, 51);
}
.parent-offer::after {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(219, 176, 186);
    opacity: 0;
    z-index: -1;
    content: "";
    position: absolute;
}
.parent-offer:hover::after {
    width: 330px;
    height: 230px;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 10px;
}/*------------------------------------------------------/sec4----------------------------------------------- */
.sec5 {
    width: 80%;
    margin: auto;
}
.container-sec5 {
    height: 100vh;
    overflow: auto;
    padding-top: 50px;
    margin-top: 90px;
}
.parent-sec5 {
    float: left;
    width:50%;
}
.h2sec5 {
    text-transform: capitalize;
    font-size: 40px;
}
.line-sec5 {
     width: 80px;
    height: 4px;
    background-color: rgb(202, 31, 65);
    margin-top: 3px;
}
.sec5p {
    color: rgb(160, 160, 160);
    margin-top: 35px;
    margin-bottom: 30px;   
    font-size: 18px;
}
.sec5list {
    list-style: none;
    padding-top: 25px;
    padding: 0;
    font-size: 17px;
}
.sec5list li {
    padding-left: 35px;
    margin-bottom: 25px;
    color: rgb(97, 97, 97);
    float: left;
}
.imgsec5 {
    width: 50%;
    float: right;
    padding-left: 180px;
}
.dote {
    text-align: center;
    list-style: none;
}
.dote li.active {
    background-color: rgb(202, 31, 65);
}
.dote li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px 5px;
    display: inline-block;
    background-color: rgb(219, 176, 186);
}
.dote li:hover {
    background-color: rgb(202, 31, 65);
}/*----------------------------------------------/sec5--------------------------------------------------*/
.sec6 {
    width: 100%;
    height: 450px;
    background-image: url(../images/post-image1.jpg);  
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.container-sec6 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.parent-sec6 {
    width: 80%;
    margin: auto;
    padding-top: 15opx;
    overflow: auto;
}
.sec6-item {
    width: 25%;
    text-align: center;
    float: left;
}
.sec6-icon {
    color: rgb(234, 47, 90);
    margin-top: 50%;
    font-size: 45px;
    margin-bottom: 15px;
}
.h3sec6 {
    color: rgb(255, 235, 241);
}
.sec6-span {
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(255, 235, 241);    
}/*---------------------------------------/sec6------------------------------*/
.pricing {
    padding-top: 120px;
    text-align: center;
}
.h2pricing {
    font-size: 40px;
}
.line-pricing {
    width: 190px;
    height: 4px;
    background-color: rgb(202, 31, 65);
    margin: auto;
}
.pricing-container {
    width: 70%;
    margin: auto;
    overflow: auto;
    padding: 50px;
}
.pricing-parent {
    width: 30%;
    float: left;
    text-align: center;
    position: relative;
    border: 1px solid rgb(219, 176, 186);
    border-radius: 10px;
    padding: 30px 15px;
    margin-right: 28px;
}
.pricing-p {
    text-transform: uppercase;
    color: black;
}
.price-pricing {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(219, 176, 186);
    border-radius: 50%;
    margin: 20px auto;
    padding: 12px 0;
}
.h3price {
    font-size: 32px;
}
.price-span {
    text-transform: uppercase;
}
.pricing-list,.pricing-btn {
    list-style: none;
    text-transform: capitalize;
}
.pricing-list li {
    padding: 10px 0;
}
.pricing-btn {
    width: 170px;
    height: 30px;
    margin-top: 10px;
    border: 2px solid rgb(219, 176, 186);
    border-radius: 10px;
    font-size: 15px;
}
.pricing-parent::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(219, 176, 186);
    position: absolute;
    content: "";
    transition: .5s;
    opacity: .5;
    border-radius: 10px;
    z-index: -1;
}
.pricing-parent:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 0.5s;
}
.pricing-parent:hover .price-pricing {
    border: 2px solid rgb(234, 47, 90);
}
.pricing-parent:hover .pricing-p {
    color: rgb(255, 0, 51);
}
.pricing-btn:hover  {
    color: rgb(255, 0, 51);
}/*-----------------------------------------/sec7----------------------------------*/
.about {
    width: 100%;
    height: 400px;
    background-image: url(../images/post-image3.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 130px;
}
.container-about {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.parent-about {
    width: 95%;
    margin: auto;
    float: left;
}
.about-item { 
    width: 50%;
    height: 100%;
    float: left;
 }
.about-team {
    text-transform: capitalize;
    padding: 130px 40px 10px 150px;
    position: relative;
    line-height: 1.4;
}
.about-team img {
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 120px;
}
.aboutp {
    text-transform: capitalize;
    margin: 0px 35px 0px 55px;
    line-height: 1.4;
    color: rgb(219, 176, 186);
}
.about-team h3 {
    font-size: 28px;
    color: #ffebeb;
}
.about-team {
    color: rgb(202, 31, 65);
    font-size: 20px;
}/*--------------------------------------------/sec8---------------------------------------*/
.h2team {
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    padding-top: 120px;
}
.team-container {
    width: 90%;
    margin: auto;
}
.team-parent {
    height: 100vh;
    margin-top: 50px;
    overflow: auto;
}
.team-item {
    width: 28%;
    float: left;
    text-align: center;
    padding: 18px 14px;   
    background-color: rgb(215, 215, 215);
    position: relative;
    border-radius: 10px;
}
.team-item2 {
    margin: 0px 5%;
}
.team-img {
    width: 80%;
    margin: auto;
    position: relative;
}
.team-img img {
    width: 100%;
}
.team-icons {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    visibility: hidden;
}
.team-item:hover .team-icons {
    visibility: visible;
    opacity: 1;
}
.team-icons a {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 0, 51);
    color: #fff;
    display: block;
    font-size: 21px;
    margin-left: auto;
}
.team-icons a i {
    line-height: 40px;
}
.h2info {
    text-transform: capitalize;
    padding: 12px 0px;
}
.info-p {
    text-transform: uppercase;
    color: rgb(160, 160, 160);
}
.team-item:hover .h2info {
    color: #fff;
    z-index: 6;
}
.team-item:hover .info-p {
    color: rgb(255, 0, 51);
}
.team-item::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(236, 220, 223);
    position: absolute;
    content: "";
    transition: .5s;
    opacity: .5;
    border-radius: 10px;
}
.team-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: .5s;
}/*-------------------------------------------------/sec9----------------------------------------*/
.h2news {
    text-align: center;
    text-transform: capitalize;
    margin-top: -195px;
    font-size: 35px;
}
.news-container {
    width: 80%;
    margin: auto;
}
.news-parent {
    height: auto;
    margin-top: 50px;
    overflow: auto;
}
.news-item {
    width: 30%;
    height: auto;
    text-align: center;
    float: left;
    border: 1px solid rgb(234, 47, 90);
    border-radius: 10px;
    position: relative;
}
.news-item::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(219, 176, 186);
    position: absolute;
    content: "";
    transition: .5s;
    opacity: .5;
    border-radius: 10px;
    z-index: -1;
}
.news-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: .5s;
}
.news-item:hover .news-icons ul {
    color: rgb(202, 31, 65);
}
.news-item:hover h3 {
    color: rgb(219, 176, 186);
}
.news-item:hover .news-icons p {
    color: rgb(202, 31, 65);
}
.news-icons ul {
    list-style: none;
}
.news-icons ul li {
    margin-top: 25px;
    margin-right: 15px;
    display: inline-block;
}
.news-icons h3 {
    margin: 15px 0px;
}
.news-icons p {
    margin-bottom: 25px;
    color: rgb(170, 144, 150);
}
.news-icons {
    margin: 15px;
}
.read-more {
    text-decoration: none;
    color: rgb(255, 0, 51);
    text-transform: capitalize;
}
.news-item img {
    border-radius: 10px;
    margin-top: 20px;
}
.two {
    margin: 0px 5%;
}
.icons {
    color: rgb(255, 0, 51);
} /*---------------------------------------------------------/sec--------------------*/
.footer {
    width: 100%;
    background-color: rgb(255, 214, 221);
    margin-top: 100px;
    margin-bottom: 0;
    padding: 20px 0px;
}
.footer-container {
    width: 40%;
    height: 300px;
    margin: auto;
    text-align: center;
}
.footer-img img {
    width: 280px;
    height: 220px;
    margin: auto;
    border-radius: 10px;
}
.footer-img {
    height: 35%;
}
.footer-list {
    margin-top: 120px;
}
.footer-list ul {
    list-style: none;
}
.footer-list ul li {
    width: 55px;
    height: 55px;
    color: #fff;
    background-color: rgb(170, 96, 113);
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    padding-top: 11px;
    position: relative;
}
.footer-list p {
    color: rgb(127, 107, 111);
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
}
.footer-list ul li::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(153, 62, 83);
    position: absolute;
    content: "";
    transition: .5s;
    opacity: .5;
    border-radius: 10px;
}
.footer-list ul li:hover {
    background-color: rgb(251, 50, 97);
}